* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: center;
}

body {
    background-color: white;
}

.grid-element {
    background-color: #70cdff;
    margin: 1rem auto;
    height: 600px;
    width: 800px;
}